/* config varilables */
$container-width: 1200px;
$color-blue: #65abec;

$color-primary: #ff74b9;
$color-primary-hover: #ffa7d3;
$color-primary-active: #ec499a;

$color-success: #13ce66;
$color-success-hover: #62d797;
$color-success-active: #10ad57;

$color-warn: #f7ba2a;
$color-warn-hover: #ffd063;
$color-warn-active: #e3ab29;

$color-danger: #ff4949;
$color-danger-hover: #ff8686;
$color-danger-active: #e14141;

$color-ghost: #999;
$color-ghost-hover: #ff74b9;
$color-ghost-active: #ec499a;

$color-disable: #ddd;
$color-disable-background: #f7f7f7;
$color-disable-border: #e7e7e7;

$color-font: #323232;
$color-font-grey: #999;
$color-font-light: #ddd;
